@import url(https://fonts.googleapis.com/css?family=Dosis:700);

.value_container {
    width: 300px;
    border-bottom: 4px dashed #bdc3c7;
    margin: 40px auto;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
}
.value {
    text-align: center;
    font-size: 10em;
    font-weight: bold;
    height: 1.2em
}

.input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 300px;
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
}

.input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #e74c3c;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
}

